# Ignore IntelliJ IDEA project files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/git_toolbox_blame.xml
.idea/misc.xml
.idea/modules.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/vcs.xml

# Ignore crashlytics and other analytics configs
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Ignore output and compiled files
out/
out
cmake-build-*/
.idea_modules/
*.iws

# Ignore specific files
Java Programing.iml
Main.java

# ✅ Ignore the interview package
**/com/jspider/interview/
